<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>가까운4이 세탁서비스</title>
</head>

<body>
  <header>
    <div class="logo">
      <img src="">
      <h1>가까운4이 세탁서비스</h1>
    </div>

    <div class="buttons">
      <button><a href="">주문신청</a></button>
      <button><a href="">주문내역</a></button>
      <button><a href="">로그인</a></button>
      <button><a href="">회원가입</a></button>
      <button><a href="">로그아웃</a></button>
      <button><a href="/api/users">마이페이지</a></button>
    </div>

    <main>
      <button><a href="">세탁신청</a></button>
      <button><a href="/api/orders/business">주문내역</a></button>
    </main>
  </header>
</body>

</html>