<%- include('includes/head.ejs') %>
  <main>
    <div class="mb-3">
      <label for="account-id" class="form-label">아이디</label>
      <input type="text" class="form-control" id="account_id" name="userId" placeholder="아이디">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">비밀번호</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
    </div>
    <button class="btn btn-primary mb-3" id="login">로그인</button>
  </main>
  </body>
  <script src="/js/users/login.js"></script>

  </html>