<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가까운4이 세탁서비스</title>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="x" />
        <h1>가까운4이 세탁서비스</h1>
      </div>

      <div class="buttons">
        <button><a href="/order">주문신청</a></button>
        <button><a href="/order-list">주문내역</a></button>
        <button><a href="">로그인</a></button>
        <button><a href="">회원가입</a></button>
        <button><a href="">로그아웃</a></button>
        <button><a href="/api/users">마이페이지</a></button>
      </div>
      <hr />

      <main>
        <div>
          <h1>주문 신청 작성</h1>
          <form action="/api/orders" method="post">
            <div class="group">
              <label>닉네임</label>
              <input type="text" required name="nickname" />
            </div>

            <div class="group">
              <label>전화번호</label>
              <input type="text" required name="phone" />
            </div>

            <div class="group">
              <label>배송지</label>
              <input type="text" required name="address" />
            </div>

            <div class="group">
              <label>세탁물 사진</label>
              <input type="text" name="image" />
            </div>

            <div class="group">
              <label>세탁 요청사항</label>
              <input type="text" name="requested" />
            </div>
            <button type="submit">신청하기</button>
          </form>
        </div>
      </main>
    </header>
  </body>
</html>
