<div class="container">
  <h2>Google Material Design in CSS3<small>Inputs</small></h2>

  <form>
    <div class="group">
      <input type="text" required />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>

    <div class="group">
      <input type="text" required />
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>
  </form>

  <body>
    <header>
      <div class="logo">
        <img src="x" />
        <h1>가까운4이 세탁서비스</h1>
      </div>

      <div class="buttons">
        <button><a href="">주문신청</a></button>
        <button><a href="">주문내역</a></button>
        <button><a href="">로그인</a></button>
        <button><a href="">회원가입</a></button>
        <button><a href="">로그아웃</a></button>
        <button><a href="/api/users">마이페이지</a></button>
      </div>
      <hr />

      <main>
        <div class="container">
          <h1>주문 신청 작성</h1>
          <form>
            <div class="group">
              <input type="text" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Name</label>
            </div>

            <div class="group">
              <input type="text" required />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Email</label>
            </div>
          </form>
        </div>
      </main>
    </header>
  </body>
</div>
