<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/review.css" />
  <title>가까운4이 세탁서비스</title>
  <style>
    * {
      font-family: 'Dongle', sans-serif;
      font-size: 1.15em;
    }

    a {
      text-decoration-line: none;
      color: aliceblue;
    }

    header {
      width: 80%;
      height: 100px;
      margin: 0 auto;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 5px solid black;
    }

    .logo {
      font-size: 18px;
      display: flex;
      flex-direction: row;
    }

    main {
      width: 80%;
      margin: 0 auto;
    }

    main>h2 {
      margin-bottom: 50px;
    }

    main>h3 {
      border-top: 2px solid black;
      padding-top: 10px;
    }

    .table {
      border-top: 2px solid black;
      padding-top: 10px;
    }

    #login {
      width: 30%;
      display: flex;
      flex-direction: column;

      margin: 0 auto;
      margin-top: 150px;
      padding: 15px;

      border: 1px solid lavender;
      border-radius: 20px;
      box-shadow: 5px 5px 5px lightgray;
    }

    .login {
      width: 30%;
      margin: 0 auto;
    }

    .review {
      font-size: 0.7em;
    }

    .card {
      margin: 0 auto;
      margin-top: 100px;
    }
  </style>
</head>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const socket = io();

    socket.on('createOrder', (data) => {
      console.log(data);
    })
    const logout = document.getElementsByClassName('logout');
    for (let i = 0; i < logout.length; i++) {
      logout[i].addEventListener('click', () => {
        axios({
          method: 'post',
          url: '/api/users/logout',
          data: {}
        }).then((response) => {
          window.location.href = '/'
        })
      })
    }
  })
</script>

<body>
  <header>
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/4666/4666057.png" alt="" style="width: 50px;">
      <h1>가까운4이 세탁서비스</h1>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-secondary"><a href="#">주문신청</a></button>
      <button type="button" class="btn btn-secondary"><a href="#">주문신청내역</a></button>
      <button type="button" class="btn btn-secondary"><a href="#">주문접수내역</a></button>
      <button type="button" class="btn btn-dark logout">로그아웃</button>
      <button type="button" class="btn btn-info"><a href="#">마이페이지</a></button>
      <button type="button" class="btn btn-secondary"><a href="#">주문신청내역</a></button>
      <button type="button" class="btn btn-secondary"><a href="#">주문접수내역</a></button>
      <button type="button" class="btn btn-dark logout">로그아웃</button>
      <button type="button" class="btn btn-info"><a href="#">마이페이지</a></button>
      <button type="button" class="btn btn-primary"><a href="#">로그인</a></button>
      <button type="button" class="btn btn-primary"><a href="#">회원가입</a></button>

    </div>
  </header>