<%- include('includes/head.ejs') %>

  <main>
    <button><a href="">세탁신청</a></button>
    <button><a href="/api/orders/business">주문내역</a></button>
  </main>
  </body>
  <script>
    const bodyBox = () => {

    }
  </script>

  </html>