<%- include('includes/head.ejs') %>

  <main>
    <button><a href="/order_create_page">주문신청</a></button>
    <button><a href="/order_list_page">접수내역</a></button>
  </main>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      await headBox();
    });
  </script>

  </html>