<%- include('includes/head.ejs') %>
  <main>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">세탁물 사진</th>
          <th scope="col">신청일자</th>
          <th scope="col">닉네임</th>
          <th scope="col">배송지</th>
          <th scope="col">요청사항</th>
          <th scope="col">주문상태</th>
          <th scope="col">리뷰</th>
        </tr>
      </thead>
      <tbody>
        <tr id="orderList">


        </tr>
      </tbody>
      <h3>주문 목록 리스트가 없습니다.</h3>

    </table>
  </main>
  </body>
  <script src="/js/orders/order_list.js"></script>

  </html>