<%- include('includes/head.ejs') %>
  <main>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h2>나의 정보</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">아이디 : hong1234
        </li>
        <li class="list-group-item">닉네임 : 홍길동
        </li>
        <li class="list-group-item">전화번호 : 01012345678
        </li>
        <li class="list-group-item">주 소 : 경기도 고양시 덕양구 홍길동
        </li>
        <li class="list-group-item">포인트 : 1000000
      </ul>
    </div>
  </main>
  </body>

  </html>