<%- include('includes/head.ejs') %>
  <main>

    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h2>나의 정보</h2>
      </div>
      <ul class="list-group list-group-flush" id="profile">
      </ul>
    </div>
  </main>
  </body>
  <script src="/js/users/profile.js"></script>

  </html>